accelerate
albumentations
bitsandbytes
cartopy
catboost
cmake
cupy-cuda12x
dask
datasets
evaluate
flax
ipywidgets
jax
jax-cuda12-plugin
jupyterlab
librosa
lightgbm
lightning
matplotlib
mlflow
ninja
numba
numpy
onnx
onnxruntime-gpu
opencv-python-headless
optax
optuna
orbax-checkpoint
pip
pkgconfig
plotly
polars
pyarrow
scikit-learn
scipy
sentencepiece
setuptools
soundfile
statsmodels
tensorflow
timm
tokenizers
torch
torch-geometric
torchaudio
torchmetrics
torchvision
transformers
triton
typing-extensions
wandb
wheel
xformers
xgboost

